@media (max-width: 990px) {
    #title {
        text-align: center;
    }

    .title-img {
        position: static;
        transform: rotate(5deg);
    }
}

body {
    font-family: 'Montserrat', sans-serif;
}

#title {
    background-color: #ff4c68;
    color: white;
}

h1 {
    font-size: 3.5rem;
    line-height: 1.5;
}

h2 {
    font-family: 'Montserrat';
    font-size: 2.5rem;
    line-height: 1.5;
}

.container-fluid {
    padding: 3% 15%;
}

/* NAVIGATION BAR  */
.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar-nav {
    padding-left: 30%;
}

.nav-item {
    padding: 0px 18px;
}

.nav-link {
    color: white;
    font-size: 1.6rem;
    font-family: 'Montserrat-light';
}

.nav-link:hover {
    color:#eee8e8;
}

/* .title-box {
    text-align: center;
} */

/* Download Buttons */
.download-button {
    margin: 5% 3% 5% 0;
}

/* Title Image  */
.title-img {
    /* text-align: center; */
    width: 60%;
    transform: rotate(25deg);
    /* position: absolute; */
    /* right: 30%; */
}

/* FEATURES SECTION */
#features {
    background-color: white;
    position: relative;
    /* z-index: 1; */
}

.feature-all {
    padding: 10% 0;
}

.feature-item {
    text-align: center;
    padding: 0 5%;
}

.feature-item i {
    padding-bottom: 4%;
    font-size: 4rem;
    color: #ff4c68;
}

.feature-item i:hover {
    color: #ef8172;
}

.feature-item p {
    color: #8f8f8f;
    padding-top: 2%;
    font-family: 'Ubuntu';
    font-size: 1.5rem;
}

/* TESTIMONIAL SECTION  */

#testimonials {
    background-color: #ff4c68;
    text-align: center;
    color: white;
}

.carousel-item {
    padding: 7% 15%;
}

.carousel-item em {
    font-family: 'Ubuntu';
    font-size: 1.3rem;
}

.testimonial-img {
    border-radius: 100%;
    margin: 20px;
    width: 10%;
}

/* PRESS SECTION  */
#press {
    background-color: #ff4c68;
    text-align: center;
    padding-bottom: 4%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* PRICING SECTION  */
#pricing {
    text-align: center;
}

#pricing p {
    font-family: 'Ubuntu';
    font-size: 1.3rem;
}

.pricing-box {
    padding: 3% 2%;
}

.card-body h2 {
    font-size: 2rem;
}

.card-body p {
    font-family: 'Ubuntu';
    font-size: 1.2rem;
    line-height: 1.2;
}


/* CALL TO ACTION */
#cta {
    background-color: #ff4c68;
    padding: 3% 15% 0;
    text-align: center;
    color: white;
    
}

.cta-content {
    margin: 3% ;
    font-size: 3rem;
    align-items: center;
}

.cta-content h3 {
    padding: 3% 0% 3%;
    font-size: 3rem;
}

/* FOOTER  */
#footer {
    padding: 7% 15%;
    background-color: white;
    text-align: center;
    font-family: 'Ubuntu';
    font-size: 1.4rem;
    /* padding-bottom: 3%; */
    color: black;
    /* margin: 5% auto 0; */
}

#footer i {
    margin: 0 1% 1%;
    color: black;
    font-size: 2rem;
}